.python-version
*.pyc
*.pkl
*.png
*.csv
*.npy
*~
*.h5
*.pickle
*.nc
*.html
*.pdf
*.stackdump
*.aux
*.log
.DS_Store
.ipynb_checkpoints
*.egg-info
build/*
dist/*
docs/*
!docs/conf.py
!docs/Makefile
!docs/index.rst
!docs/_static
!docs/_static/.gitkeep
!docs/demos/.gitkeep
